{
  "dev": {
    "SQL_HOST": "",
    "SQL_USER": "",
    "SQL_DB": "",
    "SQL_PW": "",
    "SQL_CA": ""
  },
  "local": {
    "SQL_HOST": "",
    "SQL_USER": "",
    "SQL_DB": "",
    "SQL_PW": "",
    "SQL_CA": ""
  }
}
